{% extends 'FrontendNavigator/base.html' %}


{% block content %}
{% load static%}
<ul>


<br>
<div align="right">
 <a href="{% url 'ppdf_view' all_details.id %}"><span style="color:orange;border:2px solid red; padding:5px;margin-right:10px;">Downloand PDF </span> </a><br>
</div> 

<br>
 <b><span style="color:green"> {{all_details.title}}</span></b><br>
 
 
  <i>{{all_details.created_at}} </i><br>
 
{{all_details.body}} 

<br>
 


<small><b>Top 5 records of the dataset</b></small>
<div>
{{html_table_template| safe }}
</div>
</ul>




<img src="{% static 'img/sarima_input.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_input_logscaled.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_afc.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_pafc.png'%}" width=700 height=auto />


<img src="{% static 'img/sarima_result.png'%}" width=700 height=auto />


<img src="{% static 'img/sarima_forecast.png'%}" width=700 height=auto />



<br>
<div style="background-color:rgba(170, 245, 162,0.6);font-size:20px;padding:20px; color:rgba(16, 36, 21,0.9);">
<b>Predictions of monthly no of tourist arrivals in upcoming years:</b>
<br>

{{html_nexts| safe }}


</div>

{% endblock content %}