{% extends 'FrontendNavigator/base.html' %}


{% block content %}
{% load static%}
<ul>


<br>
<div align="right">
 <a href="{% url 'ppdf_view' all_details.id %}"><span style="color:orange">Downloand PDF </span> </a><br>
</div> 

<br>
 <b><span style="color:green"> {{all_details.title}}</span></b><br>
 
 
  <i>{{all_details.created_at}} </i><br>
 
{{all_details.body}} 

<br>
 


<small><b>Top 5 records of the dataset</b></small>
<div>
{{html_table_template| safe }}
</div>
</ul>




<img src="{% static 'img/sarima_input.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_input_logscaled.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_afc.png'%}" width=700 height=auto />

<img src="{% static 'img/sarima_pafc.png'%}" width=700 height=auto />


<img src="{% static 'img/sarima_result.png'%}" width=700 height=auto />


<img src="{% static 'img/sarima_forecast.png'%}" width=700 height=auto />



<br>
Predictions of monthly no of tourist arrivals in Year:2018:<br><b>{{next_years_values}}<b>




{% endblock content %}
