{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tourism Analysis & Prediction</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     

    
</head>

<body>
    
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-inner">
        <a class="navbar-brand" href="{% url 'index' %}">
         <span>Tourism Analytics</span></a>
            <div class="btn-group pull-right">
             {% if user.is_authenticated %} 
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" > 
                {{ user.username }} <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item"  href="/admin">ADMIN VIEW</a>
                      <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/admin/logout"> Log Out</a>
                  </ul>
              </div>
              {% else %}
              <a href="/admin" class="btn btn-default ml-2">ADMIN LOGIN</a>
             {% endif %}
            </div> 

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
              <li class='nav-itemm'>
                 <a href="{%url 'topic_list' %}">Analysis</a>
                  <a href="{%url 'predict_list' %}">Predictions</a>
              </li>

                <li >
                    <form class="navbar-search pull-left">
                      <input placeholder="Search" class="search-query form-control col-md-10" name="query"type="text" style=" margin-left: 250px;">
                      <!-- <a href="" style="display: inline-block;">&#128269;</a> -->
                      <!-- <a href=""class="fa fa-search"></a> -->
                    </form>
                   
                </li>
            </ul>

        </div>
    </div>


{% block content %}
{% endblock content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</body>


</html>

