
{% extends 'FrontendNavigator/base.html' %}
{% load static %}

{% block content %}

<div class="slides" style=""> 
    <img class="mySlides" src="static/img/mustang.jpg">
    <img class="mySlides" src="static/img/pokhara.jpg">
    <img class="mySlides" src="static/img/ptn.jpg" >
    <img class="mySlides" src="static/img/bnp1.jpeg" >
    <img class="mySlides" src="static/img/Gokyo.jpg">

</div>

    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Destinations</h2>
          <p>Explore the most beautiful destinations of Nepal and enjoy the nature.</p>
          <hr class="bottom-line">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/bnp.jpg" class="img-responsive">
            <figcaption>
              <h3>Bardiya National Park </h3>
              <p>Bardiya National Park is situated in the mid-Far Western Terai, east of the Karnali River. There are a wide variety of jungle activities available in this parks. Elephant rides are the best way to explore the jungle and search for wildlife.</p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/lum.jpeg" class="img-responsive">
            <figcaption>
              <h3>Lumbini- BirthPlace of Buddha</h3>
              <p>Lumbini is the Buddha's birthplace,one of the world's most important spiritual sites and attracts Buddhist pilgrims from around the world.Here,you can visit Buddhist monasteries built by different countries, study Buddhism,meditate and visit the birthplace within the sacred Mayadevi Gardens.</p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>

        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/mardi.jpg" class="img-responsive">
            <figcaption>
              <h3>Mardi Himal</h3>
              <p>Situated just east of one of the most popular treks of Nepal, the Annapurna Base Camp trek, the Mardi Himal trek is a hidden gem. Few trekkers make their way to the Mardi Himal Base Camp spectacularly situated at the base of Mardi Himal and the impressive Machapuchhre.
              &ensp;&ensp;</p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>

        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/pas.jpeg" class="img-responsive">
            <figcaption>
              <h3>Pashupatinath Temple</h3>
              <p>Dedicated to Lord Shiva, Pashupatinath is one of the four most important religious sites in Asia for devotees of Shiva. Built in the 5th century and  later renovated by Malla kings, the site itself is said to have existed from the beginning of the millennium when a Shiva lingam was discovered here.</p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>

        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/ilam.jpeg" class="img-responsive">
            <figcaption>
              <h3>Ilam</h3>
              <p>A quick and energetic walk in a tea garden, picnic in the peaceful setting and sightseeing stops, short hikes along gentle hills, or explore the nearby woods – enjoy all this and more in the greenery of Ilam.  </p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>

        <div class="col-md-4 col-sm-6 padleft-right">
          <!-- <figure class="imghvr-fold-up"> -->
            <img src="static/img/rara.jpeg" class="img-responsive">
            <figcaption>
              <h3>Rara Lake</h3>
              <p>Rara Lake at 2990m ,is the deepest lake in Nepal and also one of the most pristine. Surrounded by green hills on all sides, covered in juniper trees.Go boating in the clear waters, hike to nearby hills for a closer view of the mountains and lake, get acquainted with the charming local people, or just walk around the large lake watching out for wild flowers or a rare bird along the way.</p>
            </figcaption>
            <a href="#"></a>
          <!-- </figure> -->
        </div>
        
      </div>
    </div>

<div class="footer">
  <div class="row">
    <div class="col-md-3">
      <h2>About us</h2>
        <p style="font-size: 15px; text-align: left; padding: 0 2px 0 5px;">
        This site provides insights on different tourism data in context of Nepal.It provides useful visualizations on datasets obtained from various sources and some time series forecasts and predictions suitably presented on search based web platform .</p>

    </div>
    <div class="col-md-3" >
      <h2>Contact us</h2>
      <p style="text-align: center;">
      Teamtourism365@gmail.com<br>
      Tel : 01-5132251 <br>
      Mob : 9862043408</p>

    </div>
    <!-- <div class="col-md-3"> -->
    <!-- <div class="container"> -->
      <div class="row">
        <div class="header-section text-center">
          <h2>Feedback</h2>
          <!-- <p>For more details please contact us without any problems.</p> -->
          <!-- <hr class="bottom-line"> -->
        </div>
        <!-- <div id="sendmessage">Your message has been sent. Thank you!</div> -->
        <!-- <div id="errormessage"></div> -->
        <form action="" method="post" role="form" class="contactForm">
          <div class="col-md-6 col-sm-6 col-xs-12 left">
            <div class="form-group">
              <input type="text" name="name" class="form-control form" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
          <div class="col-md-6 col-sm-6 col-xs-12 right">
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <!-- Button -->
            <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light" style="float: left; background-color: gray;">SEND EMAIL</button>
          </div>
        </form>
        </div>  
  All rights reserved @ Team Tourism Analytics 2019.
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>


{% endblock %}