
{% extends 'FrontendNavigator/base.html' %}
{% load static %}

{% block content %}

<div class="slides">  
    <img class="mySlides" src="static/img/npl.jpg" style="width: 100%">
    <img class="mySlides" src="static/img/pokhara.jpg" style="width: 100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>


{% endblock content %}