{% extends 'FrontendNavigator/base.html' %}


{% block content %}

<ul>


<br>

{% for notice in all_notifications_list %}
<span style="color:blue">
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
</span>
 <a href="{% url 'detail' notice.id %}">
<br>
 <b><span style="color:green"> {{notice.title}}</span></b></a> 
 
 

 <i>{{notice.created_at}} </i><br>

 
 <small> {{notice.body}}</small>
   <br>



 <a href="{% url 'pdf_view'  notice.id  %}"><span style="color:orange">Downloand PDF </span> </a><br>

 <span style="color:blue">
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
</span>
<br>
<br>
{% endfor %}
{{notice.title}}

<div>
{{html_table| safe }}
</div>

</ul>

{% endblock content %}
