{% extends 'pdfbase.html' %}

{% block content %}
{% load static %}


<ul>


         <span style="color:purple">PREDICTION REPORT: {{all_details.id}}</span></a>
        </div>
<br>

<br>
 <b><span style="color:green"> <h2>{{all_details.title}}</h2></span></b>
 

 <i>{{all_details.created_at}} </i><br>
 
 {{all_details.body}} 
<br>

</ul>

<div>
{{html_table | safe }}
</div>



<br>
{% if all_details.id == 1 %}

<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\id1.png" width=700 height=auto alt="Image">
<br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\id11.png" width=700 height=auto alt="Image">
<br>PREDICTIONS:<br>
<h1>
{{c1}}
</h1>
{% endif %}
{% if all_details.id == 3 %}

<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_input.png" width=700 height=auto alt="Image"><br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_input_logscaled.png" width=700 height=auto alt="Image"><br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_afc.png" width=700 height=auto alt="Image"><br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_pafc.png" width=700 height=auto alt="Image"><br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_forecast.png" width=700 height=auto alt="Image"><br>
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\PredictionEngine\static\img\sarima_result.png" width=700 height=auto alt="Image"><br>
<br>
{{c3 | safe }}


{% endif %}

{% if all_details.id == 2 %}
<img src="C:\Users\Pukar\TOURISM ANALYTICS\TOURISM ANALYSIS AND PREDICTIONS IN NEPAL\TourismAnalytics\AnalysisEngine\static\img\pid2.png" width=700 height=auto alt="Image">

<br>
{{c2}}
{% endif %}








</ul>


{% endblock content %}
