{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>template_base1</title>
    
	
   <style>
        body {
            font-family: sans-serif;
        }
        
        h2 {
            color: rgb(230, 107, 0);
        }
        
    </style>


  </head>
  <body>
  <div>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
      {% block content %}	  
      {% endblock content %}
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </div>
  
 
  </body>
</html>