{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>template_base1</title>
    
	
   <style>
        body {
            font-family: sans-serif;
        }
        
        h2 {
            color: rgb(230, 107, 0);
        }
        .navbar-inner {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 30px;
            height: 60px;
            color:blue;
}
        
    </style>


  </head>
  <body>
      <div >
        <div class="navbar-inner">
          <div style="width:20px; height:20px; display:inline-block; float:left; padding:5px;"><img src="https://www.raijeewan.com.np/includes/img/body/flag.gif" border="0" alt="animated-nepal-flag-image-0001" height="45px"; /></div>
            
         <span>TOURISM ANALYTICS REPORT</span>
  <div>
  </div>
  </div>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br>
      {% block content %}	  
      {% endblock content %}
      <br>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </div>
  
 
  </body>
</html>